@import "./normalize.css";

.app {
  --app-max-width: 640px;
  --app-sub-line-color: #567890;
}

.appContent {
  max-width: var(--app-max-width);
  padding: 0 10px 66px 10px;
  margin: 0 auto;
}

.appContent-begin,
.appContent-error,
.appContent-loading {
  margin: 30px auto;
  margin-top: 50%;
  text-align: center;
}

.appContent-begin > p {
  font-size: 1.15em;
  font-weight: bold;
  color: var(--app-sub-line-color);
}

.appContent-error > h3 {
  color: #ed5c5c;
}

.appContent-error > p {
  color: var(--app-sub-line-color);
}
