@import './Variables.scss';

button:focus {
  outline: none;
}

.appContent {
  padding: 20px 50px 66px;
  display: flex;
  justify-content: space-evenly;
}

.appContent-begin,
.appContent-error,
.appContent-loading {
  position: relative;
  top: 50%;
  text-align: center;
}

.appContent-begin {
  position: absolute;
  top: 50%;
  transform: translateY(-120%);
  text-align: center;
}

.appContent-begin > p {
  font-size: 1.15em;
  font-weight: bold;
  color: var(--app-sub-line-color);
}

.appContent-error > h3 {
  color: #ed5c5c;
}

.appContent-error > p {
  color: var(--app-sub-line-color);
}

.app-none {
  display: none;
}

@media only screen and (max-width: $large-screen-width) {
  .appContent {
    padding: 20px 6px 66px;
    flex-flow: column;
    align-items: center;
  }
}
