@import "./normalize.css";

.app {
  --app-max-width: 640px;
}

.appContent {
  max-width: var(--app-max-width);
  padding: 0 10px 66px 10px;
  margin: 0 auto;
}

.appContent-error,
.appContent-loading {
  margin: 30px auto;
  text-align: center;
}

.appContent-loading {
  margin-top: 50%;
}

.appContent-error > h3 {
  color: #ea4848;
}

.appContent-error > p {
  color: #777;
}
