@import './mixins.scss';
@import './Variables.scss';

.bookmarkBoard {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: $main-bar-height;
  display: none;
}

.bookmarkBoard--show {
  display: block;
}

.bookmarkBoard-background {
  width: 100vw;
  height: 100vh;
  border-top: 1px solid #888;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.bookmarkBoard-content {
  width: 36%;
  height: calc(100% - #{$main-bar-height});
  padding: 28px;
  padding-bottom: 0;
  background: #fff;
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column;
}

.bookmarkBoard-inputSection {
  padding-bottom: 16px;
}

.bookmarkBoard-inputSection,
.bookmarkBoard-input {
  width: 100%;
}

.bookmarkBoard-input > i.save.icon {
  transform: scale(1.5);
  cursor: pointer !important;
  pointer-events: auto !important;
}

.bookmark-pttUsers-holder {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  display: flex;
  align-items: baseline;
}

.bookmark-pttUsers {
  height: 2.8rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.bookmark-pttUser {
  margin-right: 6px;
  list-style: none;
  display: inline-block;
}

.bookmark-removePttUserBtn.icon {
  margin-left: 3px;
  vertical-align: unset;
  cursor: pointer;
}

.pttUsersLinks-openBtn.ui.icon.button {
  transform: scale(0.68);
}

.bookmark-list.ui.list {
  margin-top: 28px;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 28px;

  @include no-scrollbar;
}

.bookmark-item {
  margin-bottom: 16px;
  position: relative;
}

.bookmark-removeItemBtn {
  position: absolute;
  top: 6px;
  right: 0;
  cursor: pointer;
}

.bookmark-itemHeader {
  margin-bottom: 6px;
  cursor: pointer;
}

.bookmark-stockTitle {
  margin-right: 6px;
}

.bookmark-lookupBtn {
  transform: scale(0.9) translateY(1px);
}

.bookmark-itemLinks.ui.list {
  padding-left: 0;
}

@media only screen and (max-width: $large-screen-width) {
  .bookmarkBoard-content {
    width: 80%;
  }

  .bookmarkBoard-content {
    padding: 18px 8px;
    padding-bottom: 0;
  }

  .bookmark-removeItemBtn {
    top: 3px;
    right: 6px;
  }
}
