@import './Variables.scss';

.calculationPanel {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 16px;
  padding-bottom: 32px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 88;
}

.calculationPanel-entryBtn {
  position: fixed;
  right: 38px;
  bottom: 38px;
  z-index: 88;
}

.calculationPanel-closeBtn {
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
  transform: scale(1.2);
}

.calculationPanel-block {
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
}

.calculationPanel-inputHolder {
  margin-right: 16px;
  margin-bottom: 8px;
}

.calculationPanel-inputHolder.epsInput {
  width: 60px;
}

.calculationPanel-input {
  width: 100%;
}

.calculationPanel-title {
  margin-bottom: 8px;
}

.calculationPanel-inputHolder.title--small > .calculationPanel-title {
  font-size: 0.88em;
}

@media only screen and (min-width: $large-screen-width) {
  .calculationPanel-block {
    justify-content: center;
  }
}
