@import './Variables.scss';

.mainBar {
  padding: 10px 0;
  background-color: #2185d0;
  display: flex;
  justify-content: center;
}

.mainBar-inputHolder {
  width: 100%;
  max-width: calc(var(--input-max-width));
}

.mainBar-input {
  width: 100%;
}

.mainBar-input > i.search.icon {
  cursor: pointer !important;
  pointer-events: auto !important;
}

.mainBar-loginBtn.ui.animated.button {
  margin: 0;
  position: absolute;
  right: 0;
  background: transparent;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .mainBar-inputHolder {
    width: calc(var(--input-max-width));
    max-width: 100%;
  }

  .mainBar-input {
    width: 88%;
  }
}

@media only screen and (max-width: $input-max-width + 10px) {
  .mainBar {
    padding-left: 6px;
  }

  .mainBar-input {
    width: 80%;
  }
}
