@import './Variables.scss';

.mainBar {
  padding: 10px 0;
  background-color: #2185d0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.mainBar-input > i.search.icon {
  cursor: pointer !important;
  pointer-events: auto !important;
}

.mainBar-bookmarkBtn.ui.button {
  margin-left: 6px;
  transform: scale(0.95);
}

.mainBar-loginBtn.ui.button {
  margin: 0;
  position: absolute;
  right: 0;
  background: transparent;
  color: #fff;
}

.mainBar::before,
.mainBar::after {
  content: ' ';
  display: block;
  flex: 1;
}

.mainBar-inputHolder,
.mainBar-input {
  width: calc(var(--input-max-width));
}

.mainBar-buttonsArea {
  width: calc((100% - var(--input-max-width)) / 2);
  position: absolute;
  right: 0;
}

@media only screen and (max-width: $input-max-width + 160px) {
  .mainBar-input {
    width: calc(var(--input-max-width) * 0.88);
  }

  .mainBar-buttonsArea {
    width: calc(var(--input-max-width) * 0.12 + (100% - var(--input-max-width)) / 2);
  }
}

@media only screen and (max-width: $input-max-width + 130px) {
  .mainBar::before {
    flex: unset;
    width: 6px;
  }

  .mainBar::after {
    display: none;
  }

  .mainBar-inputHolder {
    width: 66%;
  }

  .mainBar-input {
    width: 100%;
  }

  .mainBar-buttonsArea {
    position: relative;
    width: auto;
    flex: 1
  }
}
